html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    max-width: 60rem;
    margin: 0 auto;
}

header, article, section {
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    padding: 1rem;
    line-height: 1.75rem;
}

header h1, article h1, section h1 {
    text-align: center;
}

section section h1 {
    text-align: inherit;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

pre {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

.ref {
    text-decoration: none;
    color: black;
}